[data-bs-theme="primary-dark"] {
  --bs-btn-hover-color: #282828;
    --bs-body-color: #b8d2da;
    --bs-body-bg: #283135;
    
    --bs-link-color: #b8d2da;
    --bs-input-color: #283135;
  }
  [data-bs-theme="primary-dark"] .btn-secondary {
    --bs-btn-bg: #455258;
    --bs-btn-border-color: #455258;
    --bs-btn-hover-bg: #66777e;
    --bs-btn-hover-border-color: #66777e;
    --bs-btn-hover-color: #b8d2da;
    --bs-btn-color: #b8d2da;
  }
  [data-bs-theme="primary-dark"] .btn-success {
    --bs-btn-bg: #9cd1c7;
    --bs-btn-border-color: #9cd1c7;
    --bs-btn-hover-bg: #ade5d8;
    --bs-btn-hover-border-color: #ade5d8;
    --bs-btn-hover-color: #283135;
    --bs-btn-color: #283135;
  }

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #283135;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
  
.cont {
    /*display: flex;*/
    /*flex-direction: column;*/
    max-height: 100vh;
    max-width: 100vw;
    /*justify-content: center*/
    /*text-align: center;*/
    overflow: hidden;
    padding-left: 0.6rem;
    --bs-gutter-x: 0rem;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.row {
    border: 1px solid #b8d2da;
}

#top-left-canvas {
    height: 33vh;
}

#contacts {
    height: 67vh;
}

#messages-container {
    height: 90vh;
}

#message-box-container {
    height: 10vh;
}

#top-right-canvas {
    height: 20vh;
}

#profile {
    height: 20vh;
}

#settings {
    height: 60vh;
}