[data-bs-theme="primary-dark"] {
  --bs-body-color: #ebdbb2;
  --bs-body-bg: #282828;
  
  --bs-link-color: #ebdbb2;
  --bs-input-color: #282828;
}
[data-bs-theme="primary-dark"] .btn-primary {
  --bs-btn-bg: #458588;
  --bs-btn-border-color: #458588;
  --bs-btn-hover-bg: #83a598;
  --bs-btn-hover-border-color: #83a598;
  --bs-btn-hover-color: #282828;
  --bs-btn-color: #282828;
}
[data-bs-theme="primary-dark"] .btn-success {
  --bs-btn-bg: #98971a;
  --bs-btn-border-color: #98971a;
  --bs-btn-hover-bg: #b7bb26;
  --bs-btn-hover-border-color: #b7bb26;
  --bs-btn-hover-color: #282828;
  --bs-btn-color: #282828;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #282828;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
  
.container {
    /*display: flex;*/
    /*flex-direction: column;*/
    max-height: 100vh;
    max-width: 100vw;
    /*justify-content: center*/
    /*text-align: center;*/
    overflow: hidden;
    padding: 0px;
}

.row {
    border: 1px solid #ebdbb2;
}

#top-left-canvas {
    height: 33vh;
}

#contacts {
    height: 67vh;
}

#messages-container {
    height: 90vh;
}

#message-box-container {
    height: 10vh;
}

#top-right-canvas {
    height: 20vh;
}

#profile {
    height: 20vh;
}

#settings {
    height: 60vh;
}